@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


body {
    @extend %font_1;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

