.btn, a, button{
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
textarea{
    resize: none;
}
p, h1, h2, h3, h4, h5, h6, ul, li{
    margin: 0;
}
iframe{
    @include media-breakpoint-down (md){
        width: 100%;
        height: auto;
    }
}