// Variables

$type_color: #434040; // dark gray / font color
$first: #005EB8; // blue
$second: #009FE3; // light blue
$third: #253164; // dark blue
$fourth: #0254A3; // mid blue 
$fifth: #FDFDFD; // light grey
$sixth: #fff; //white
$seventh: #f8f8f8; //grey 
//global
$border-radius-default: 0px;

//padding sections
$padding-default: 2.5rem 0;
//margin cols
$margin_default: 1.5rem;

@include media-breakpoint-down(md){
    $padding-default: 1.5rem 0;
}

//margin default
$margin__top: 2rem;
