﻿// css page
.content__inner{
    &__404{
        h2{
            font-weight: 600;
            @include rhythm(30,47);
            @include media-breakpoint-up(md){
                @include rhythm(48,67);
            }
            b{
                font-weight: 700;
            }
        }
    }
}